.iconRemove{
    display: flex;
    justify-content: flex-end;
    /* margin-left: 100%; */
    margin-top: 50%;
}

.imgItemCart{
    max-width: 10rem;
}

.productContainer{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    max-width: 21rem;
    margin-left: calc(50% - 10rem);
    align-items: center;
    border: 3px solid white;
    border-radius: 16px;
}

.dataContainer{
    display: flex;
    align-content: center;
    justify-content: center;
}

.keepShopping{
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.itemDescript{
    text-align: left;
    margin-left: 1rem;
    align-self: center;
}

.productTitle{
    color: #c0c0c0;
    font-size: 1.4rem;
    font-weight: bolder;
}

.totalPrice{
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 70%;
    min-width: 10%;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 0 0.5rem;
}

@media only screen and (min-width: 500px) {
    .totalPrice{
        max-width: 60%;
        min-width: 10%;
    }
}

@media only screen and (min-width: 670px) {
    .totalPrice{
        max-width: 60%;
        min-width: 10%;
    }
}

@media only screen and (min-width: 768px) {
    .totalPrice{
        max-width: 30%;
        min-width: 10%;
    }
}

@media only screen and (min-width: 1200px) {
    .totalPrice{
        max-width: 20%;
        min-width: 10%;
    }
}
