.titleDetail{
    font-size: larger;
}

.priceDetail{
    margin-bottom: 1rem;
}

.item-detail-container{
    margin-top: 1rem;
}

.item-detail-container p{
    margin: 1rem auto;
    max-width: 360px;
    padding: 0 1rem;
}

@media only screen and (min-width: 500px){
    .item-detail-container p{
        max-width: 60%;
    }
}
