.CartWidget{
    display: flex;
    /* align-content: center; */
    align-content: space-evenly;
    justify-content: center;
    margin-right: 1rem;
    flex-direction: row;
    max-width: 4rem;
    align-items: baseline;
}

.cartIcon{
    max-width: 28px;
    max-height: 28px;
    filter: invert();
}

.cartQuantity{
    color: #da5010;
    text-decoration-line: none;
    font-size: 1rem;
}

.link{
    display: inline-flex;
    align-self: center;
}
