.orderContainer{
    margin-bottom: 2rem;
}

.imgProduct{
    max-width: 15rem;
    margin-left: 1rem;
    border-radius: 1.5rem;
}

.productDisplay{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    max-width: 30rem;
    min-width: 20rem;
    margin: 1rem auto;
    text-align: justify;
}
