.propsText{
    text-align: left;
    margin-top: 10px;
}

.item-container{
    margin: 10px auto;
    max-width: 20.5rem;
    min-height: 25rem;
}

.productImg{
    max-width: 320px;
    border-radius: 20px;
    box-shadow: -7px -7px rgba(128,128,128,0.2), 7px 7px rgba(128,128,128,0.2), -7px 7px rgba(128,128,128,0.2), 7px -7px rgba(128,128,128,0.2);
    margin-bottom: 10px;
}

@media only screen and (min-width: 670px){
    .productImg{
        max-height: 320px;
    }
}
