.NavBar{
    display: flex;
    align-content: space-evenly;
    justify-content: space-between;
    margin: 1.2rem auto;
}

.NavBar ul{
    display: flex;
    list-style-type: none;
}

.NavBar ul li{
    margin: 0px 1rem;
}
.NavBar ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: #da5010;
}
