.Footer{
    display: flex;
    justify-content: center;
    bottom: 0;
    right: 0;
    width: 100%;
    position: fixed;
    padding-bottom: 10px;
    background-color: #c0c0c0;
    color: #000000;
}
