@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  min-height: calc(100vh - 32rem);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header>p{
  font-size: calc(10px + 2vmin);
  font-family: 'Montserrat', sans-serif;
  color: #da5010;
}

a, a:visited{
  color: #da5010;
  text-decoration-line: none;
}
