.randomItemLoading{
    font-size: 1.3rem;
    margin: 3rem auto 0 auto;
}

.countDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.itemDetailLoadingCartIcon{
    max-width: 24px;
    max-height: 24px;
    filter: invert();
}

@media (prefers-reduced-motion: no-preference){
    .itemDetailLoadingCartIcon{
        animation: loading-cart-spin infinite 1.25s linear;
    }
}

@keyframes loading-cart-spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
